{% extends 'main/base.html' %}
{% block content %}


<div class="container">
  <form method="POST">
  {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Book Name</label>
      <input type="text" name = "bookname"  class="form-control" id="exampleInputEmail1" >
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Category</label>
      <input type="text" name="category" class="form-control"  id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Number of books available</label>
      <input type="text" class="form-control" name="num"  id="exampleInputPasswor">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{% endblock content %}